{% load staticfiles %}
<html>
<head>
  <title>Form page</title>
</head>

<body>

<h2>Form Template</h2>

<form method="POST">
{{ form.as_p }}
{% csrf_token %}
<input type="submit" value="submit">
</form>
</body>
