<html>

<head>
  <title>first page</title>
</head>

<body>
header area
{% block content %}{% endblock %}
foorer areas
<div>
<a href="{% url 'index' %}">Home</a>
<a href="{% url 'customform' %}">base form</a>
<a href="{% url 'contactForm' %}">model form</a>
<a href="{% url 'topiclist' %}">Topic List</a>
{% if user.is_authenticated %}
{{ user.get_username }}<a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
   {% else %}
     <a href="{% url 'login'%}?next={{request.path}}">Login</a>
   {% endif %}

</body>
