{% load staticfiles %}
<html>
<head>
  <title>first page</title>
</head>

<body>

first template define <br>

{{ body_text }}

<img src="{% static "images/test1.jpg" %}" alt="My image" width="%" height="10%"/>

</body>
