<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if registered %}
        Thanks for registering
    {% else %}
        <form method="POST" enctype="multipart/form-data">
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          {% csrf_token %}
          <input type="submit" value="submit">
        </form>
    {% endif %}

  </body>
</html>
