{% extends 'first_app/header.html' %}
{% load app_filter %}

{% block content %}

<h1>Topic List</h1>

{% if topic_list  %}

<table border="1">
<tr><th>Name</th><th>Info</th></tr>

{% for val in topic_list %}

<tr>
  <td>{{ val.top_name }}</td>
  <td> <a href="{% url 'detail' val.id %}">Details</a> </td>
</tr>

{% endfor %}

</table>

{% else %}

no data

{% endif %}


{% endblock %}
