{% extends 'first_app/header.html' %}
{% load app_filter %}

{% block content %}

<h1>Topic Details</h1>

<p>Topic Name : {{topicd_list}}</p>

<h2>List Of Webpages</h2>

<ul>
    {% for webp in topicd_list.webpage.all %}
        <li><a href="">{{webp.name}}</a>|{{webp.url}}|{{webp.ar.date}}</li>
    {% endfor %}
</ul>


{% endblock %}
